// @import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css");

$color-basic: #e4e4e7;
$text-basic: #fefefe;
$table-header: #595959;

$danger: #f8d7da;
$info: #afd6ff;
$success: #a8edb8;

$color-theme: #ca5c50;

.btn-custom {
  background-color: $color-theme;
  color: white;
  max-height: 40px;
}

.mat-table {
  margin: 0;
  table-layout: fixed;

  .mat-row {
    color: $text-basic;
    background-color: $color-basic;
    border-bottom: 2px solid $table-header;
  }

  .mat-header-cell {
    background-color: $table-header;
  }

  .small-coll{
    width: 5vw;
  }

  button {
    margin: 1vw;
  }
}


.mat-cell {
  color: #1b1b1b;
}

mat-paginator {
  background-color: $table-header;
}

::ng-deep .mat-tooltip {
  font-size: 12px;
  text-overflow: clip;
  white-space: normal;
  word-break: break-all;
}

.basic-field {
  color: $text-basic;
  background-color: $color-basic;
}

.mat-form-field {
  font-size: 14px;
  align-self: flex-end;
}

th,
td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.project-form{
  width: 100%;
  padding: 2vm;

  .mat-form-field{
    margin: 1vw;
    width: 8vw;

  }

  .description {
    width: 16vw;
    resize: none;
  }

  button{
    margin: 1vw;
  }

  .edit{
    margin: 5px;
    width: 1vw;
  }

}

.add-prjct-form{
  display: flex;
  justify-content: center;
  align-content: flex-end;
}

textarea {
  color: white;
}

input {
  color: white;
}


// STYLES FOR ROWS IN TABLE DEPENDS ON STATUS
.notified {
  background-color: $info !important;
}

.approved {
  background-color: $success !important;
}

.declined {
  background-color: $danger !important;
}


.filter-form{
  background: rgba(248, 248, 248, 0.24);
  mat-form-field {
    margin: 1vw;
  }

  button{
    margin: 1vw;
  }
  }
