<!-- Filter Form -->
<form [formGroup]="filterForm" class="filter-form">
  <mat-form-field>
    <mat-label>Project</mat-label>
    <mat-select formControlName="filterProjectControl">
      <mat-option>All</mat-option>
      <mat-option *ngFor="let project of projects" [value]="project.id">
        {{ project.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Task</mat-label>
    <mat-select formControlName="filterTaskControl">
      <mat-option>All</mat-option>
      <mat-option *ngFor="let task of tasks" [value]="task.id">
        {{ task.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select formControlName="filterStatusControl">
      <mat-option>All</mat-option>
      <mat-option *ngFor="let status of statuses" [value]="status.id">
        {{ status.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <!-- <hr /> -->
</form>


<!-- Filter Date Form -->
<form [formGroup]="filterDateForm" class="filter-form" (ngSubmit)="onApplyDateFilters()">
  <mat-form-field>
    <mat-label>From</mat-label>
    <input matInput type="date"  formControlName="filterFromControl" required/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>To</mat-label>
    <input matInput type="date" formControlName="filterToControl"  required/>
  </mat-form-field>

  <button mat-button class="btn-custom"
  [disabled]="filterDateForm.invalid || applyBtnDisabled"
  type="submit">
    Apply
  </button>
  <button mat-button class="btn-custom"
  [disabled]="!applyBtnDisabled ||filterDateForm.invalid"
  (click)="onClearFilters()"
  >
    Clear
  </button>
</form>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" >
    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

 <!-- Sender Column -->
 <ng-container matColumnDef="user">
  <th mat-header-cell *matHeaderCellDef>Sender</th>
  <td mat-cell *matCellDef="let report"
    matTooltip="{{getUserNameById(report.userId)}}"
  >
    {{getUserNameById(report.userId) }}
  </td>
</ng-container>

    <!-- Project Column -->
    <ng-container matColumnDef="abbr" >
      <th mat-header-cell *matHeaderCellDef class="small-coll">Project</th>
      <td mat-cell *matCellDef="let report">
        {{getProjectById(report.projectId) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="task">
      <th mat-header-cell *matHeaderCellDef>Task</th>
      <td mat-cell *matCellDef="let report">
        {{ getTaskById(report.assignmentId) }}
      </td>
    </ng-container>

    <!-- Time Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef  class="small-coll">Time</th>
      <td mat-cell *matCellDef="let report">{{ report.time }}</td>
    </ng-container>

    <!-- Overtime Column -->
    <ng-container matColumnDef="overtime">
      <th mat-header-cell *matHeaderCellDef class="small-coll">Overtime</th>
      <td mat-cell *matCellDef="let report">{{ report.overtime }}</td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td
        mat-cell
        *matCellDef="let report"
        matTooltip="{{ report.description }}"
      >
        {{ report.description }}
      </td>
    </ng-container>

    <!-- StartDate Column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef class="small-coll">Start date</th>
      <td mat-cell *matCellDef="let report">{{ report.startDate }}</td>
    </ng-container>

    <!-- EndDate Column -->
    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef class="small-coll">End date</th>
      <td mat-cell *matCellDef="let report">{{ report.endDate }}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="small-coll">Status</th>
      <td mat-cell *matCellDef="let report">
        {{ getStatusById(report.statusId) }}
      </td>
    </ng-container>

    <!-- Actions-menu Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let report">
        <button
          mat-button
          *ngIf="getStatusById(report.statusId) === 'Notified'"
          class="btn-custom edit"
          (click)="onAccept(report)"
        >
          &#10004;
        </button>
        <button
          mat-button
          *ngIf="getStatusById(report.statusId) === 'Notified'"
          class="btn-custom edit"
          (click)="onDecline(report)"
        >
          &#10006;
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let report; columns: displayedColumns"
      [class.declined]="getStatusById(report.statusId) === 'Declined'"
      [class.notified]="getStatusById(report.statusId) === 'Notified'"
      [class.approved]="getStatusById(report.statusId) === 'Accepted'"
    ></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[10, 20, 30]"
    showFirstLastButtons
  ></mat-paginator>
</div>
