$color-opened: 'yellow';
$color-notified: 'skyblue';
$color-approved: 'green';
$color-declined: 'red';
$color-theme: #ca5c50;

.status{
 button{
    background-color: $color-theme;
    color: white;
    font-size: 10pt;
    padding: 3px;
    margin: 2px;
 }

}