<div class="main">
  <div class="main-body">
    <div class="nav-bar">
      <ul class="nav nav-tabs">
        <li 
        routerLink="reportslist"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"><a>Reports List</a></li>
        <li routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"><a routerLink="projectslist">Project List</a></li>
        <li routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"><a>Spent Hours</a></li>
      </ul>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer>
    <div class="logout-btn">
      <a>Logout</a>
    </div>
  </footer>

