$background-main:  #cac5b9;

.nav-bar{
    // margin-top: 5%;
}

.nav-tabs{
    margin: 0% 0%;
}

div{
    .filter-line{
        margin: 5% 0%;
    }

    .filter-header{
        display:inline;
        // display: flex;
    }
    .select-block{
     margin: 0% 0% 0% 0%;
    display: inline;
    }

    .filter{
        // margin-top: 10%;
        // padding-top: 10%;
    }
}

.main{
    // margin: 0% 5%;
    background: $background-main;
}

.main-body{
    margin: 0% 5% ;
}

footer {
  display: flex;
  justify-content: center;
  .logout-btn {
    display: flex;
    justify-self: center;
    align-items: center;
    background: none;
    width: fit-content;
    height: fit-content;
    a {
      color: #ece9e1;
      cursor: pointer;
      font-family: "Montserrat", sans-serif;
      font-size: calc(1.2vw + 1.3vh);
      margin: 3em;
      text-decoration: none;
    }
  }
}
