<nav>
  <a (click)="onLogout()">Logout</a>
</nav>

<div class="main">
  <div class="main-body">
    <div class="nav-bar">
      <ul class="nav nav-tabs">
        <li
          routerLink="reportslist"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          *ngIf="position === 1 || position === 2"
        >
          <a>Reports List</a>
        </li>
        <li
          routerLinkActive="active"
          routerLink="projectslist"
          [routerLinkActiveOptions]="{ exact: true }"
          *ngIf="position === 3"
        >
          <a>Project List</a>
        </li>
        <li
          routerLinkActive="active"
          routerLink="notifiedreports"
          [routerLinkActiveOptions]="{ exact: true }"
          *ngIf="position === 2 || position === 3"
        >
          <a>Notified Reports</a>
        </li>
      </ul>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

